# For all
venv
.env
.env.*
env_files
__pycache__
*.log
logs
.DS_Store
*.DS_Store
*.cache
*.sln

# Web scrapper
web-scrapper/data

# App
#Frontend
app/web-app/target
app/data
app/logs
# images
app/frontend/src/assets/images
# dependencies
app/frontend/node_modules
app/frontend/package-lock.json
app/frontend/.pnp
app/frontend.pnp.js
app/frontend/.vscode/*
app/frontend/!.vscode/extensions.json
app/frontend/.idea
app/frontend/.DS_Store
app/frontend/*.suo
app/frontend/*.ntvs*
app/frontend/*.njsproj
app/frontend/*.sln
app/frontend/*.sw?
app/frontend/dist
app/frontend/dist-ssr
app/frontend/*.local
# testing
app/frontend/coverage
# production
app/frontend/build
# misc
app/frontend/.DS_Store
# BACKEND
app/backend/bin
app/backend/obj

# data pipeline
data_pipeline/data

# db_snapshots
db_snapshots/*
!db_snapshots/ss.sql
