.paddedDiv {
  padding: 10px;
}
.checkboxContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap; /* Allow checkboxes to wrap to the next line if needed */
}

.searchContainer {
  padding: 10px;
  display: flex;
  align-items: center;
}

.clearButton {
  margin-left: 8px; /* Adjust margin between search bar and clear button */
}

.bg1{
  background-color: #ECFFFF;
}
.bg2{
  background-color: #FFFFF0;
}
.col800px {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}
.containerCheckBoxHeight{
  height: 42px;
  margin-top: auto;
  margin-bottom: auto;
}
.noMargin{
  margin: 0px;
}
.headerPadding{
  padding: 30px;
}
